<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871078371322-6nv2cd9igv8k5jfgd0r1cgdiuopm0mcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871078371322-6nv2cd9igv8k5jfgd0r1cgdiuopm0mcn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>871078371322-3rl64a0eab4a3ioea0qcdug9gqlek595.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuLH6vBsztwgHR-aVfVE2zY3rCeLUJL8A</string>
	<key>GCM_SENDER_ID</key>
	<string>871078371322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.rnlab.lekima</string>
	<key>PROJECT_ID</key>
	<string>foody-rnlab</string>
	<key>STORAGE_BUCKET</key>
	<string>foody-rnlab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871078371322:ios:aa3ee4790c9a1b9ae5ce43</string>
	<key>DATABASE_URL</key>
	<string>https://foody-rnlab.firebaseio.com</string>
</dict>
</plist>